In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from pandas.plotting import scatter_matrix
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import cross_val_score
import seaborn as sns
%matplotlib inline
import os
import pandas as pd
import json

## 1. Propensity score matching

In [4]:
data = pd.read_csv('lalonde.csv')
data.head()

,id,treat,age,educ,black,hispan,married,nodegree,re74,re75,re78
0,NSW1,1,37,11,1,0,1,1,0.0,0.0,9930.0460
1,NSW2,1,22,9,0,1,0,1,0.0,0.0,3595.8940
2,NSW3,1,30,12,1,0,0,0,0.0,0.0,24909.4500
3,NSW4,1,27,11,1,0,0,1,0.0,0.0,7506.1460
4,NSW5,1,33,8,1,0,0,1,0.0,0.0,289.7899

Observational study
We have 2 groups: "treated" vs "control"
The question is: was the treatment effective on the worker? That is, did it improved his earnings? did it depend on any of the other variables? (age, origin, marriage, education)
We need a way to measure effectiveness based on change in earnings

treatment assignment: Z = 1 (treated) and Z = 0 (control) -> treat
response if subject is treated: r_t -> how re78 differs from re74 and re75 (Z=1)
response if subject is control: r_c -> how re78 differs from re74 and re75 (Z=0)
observed covariates (features x) -> age, educ, black, hispan, married, nodegree
unobserved covariates ->  Naive model: exclude them because assume “Only observed variables determine treatment assignment”. Bad, naive model is almost never true. -> Use propensity score.
"Adjustments using a model attempt to compare people who are not directly
comparable — people of somewhat different ages or smoking habits — removing
these differences using a mathematical structure that has elements estimated from
the data at hand."


Propensity score -> "if naive model is true, it equals the probability to treat"
e(x) = P(Z=1|x)
Computed by logistic regression. Features x, label Z

In [5]:
# print the shape of the DataFrame
data.shape

(614, 11)

In [15]:
data

,id,treat,age,educ,black,hispan,married,nodegree,re74,re75,re78
0,NSW1,1,37,11,1,0,1,1,0.0000,0.000,9930.0460
1,NSW2,1,22,9,0,1,0,1,0.0000,0.000,3595.8940
2,NSW3,1,30,12,1,0,0,0,0.0000,0.000,24909.4500
3,NSW4,1,27,11,1,0,0,1,0.0000,0.000,7506.1460
4,NSW5,1,33,8,1,0,0,1,0.0000,0.000,289.7899
5,NSW6,1,22,9,1,0,0,1,0.0000,0.000,4056.4940
6,NSW7,1,23,12,1,0,0,0,0.0000,0.000,0.0000
7,NSW8,1,32,11,1,0,0,1,0.0000,0.000,8472.1580
8,NSW9,1,22,16,1,0,0,0,0.0000,0.000,2164.0220
9,NSW10,1,33,12,0,0,1,0,0.0000,0.000,12418.0700
10,NSW11,1,19,9,1,0,0,1,0.0000,0.000,8173.9080
11,NSW12,1,21,13,1,0,0,0,0.0000,0.000,17094.6400
12,NSW13,1,18,8,1,0,0,1,0.0000,0.000,0.0000
13,NSW14,1,27,10,1,0,1,1,0.0000,0.000,18739.9300
14,NSW15,1,17,7,1,0,0,1,0.0000,0.000,3023.8790
15,NSW16,1,19,10,1,0,0,1,0.0000,0.000,3228.5030
16,NSW17,1,27,13,1,0,0,0,0.0000,0.000,14581.8600
17,NSW18,1,23,10,1,0,0,1,0.0000,0.000,7693.4000
18,NSW19,1,40,12,1,0,0,0,0.0000,0.000,10804.3200
19,NSW20,1,26,12,1,0,0,0,0.0000,0.000,10747.3500
20,NSW21,1,23,11,1,0,0,1,0.0000,0.000,0.0000
21,NSW22,1,41,14,0,0,0,0,0.0000,0.000,5149.5010
22,NSW23,1,38,9,0,0,0,1,0.0000,0.000,6408.9500
23,NSW24,1,24,11,1,0,0,1,0.0000,0.000,1991.4000
24,NSW25,1,18,10,1,0,0,1,0.0000,0.000,11163.1700
25,NSW26,1,29,11,1,0,1,1,0.0000,0.000,9642.9990
26,NSW27,1,25,11,1,0,0,1,0.0000,0.000,9897.0490
27,NSW28,1,27,10,0,1,0,1,0.0000,0.000,11142.8700
28,NSW29,1,17,10,1,0,0,1,0.0000,0.000,16218.0400
29,NSW30,1,24,11,1,0,0,1,0.0000,0.000,995.7002
...,...,...,...,...,...,...,...,...,...,...,...
155,NSW156,1,25,13,1,0,0,0,12362.9300,3090.732,0.0000
156,NSW157,1,18,9,1,0,0,1,0.0000,3287.375,5010.3420
157,NSW158,1,21,12,1,0,0,0,6473.6830,3332.409,9371.0370
158,NSW159,1,27,10,1,0,0,1,1001.1460,3550.075,0.0000
159,NSW160,1,21,8,1,0,0,1,989.2678,3695.897,4279.6130
160,NSW161,1,22,9,1,0,0,1,2192.8770,3836.986,3462.5640
161,NSW162,1,31,4,1,0,0,1,8517.5890,4023.211,7382.5490
162,NSW163,1,24,10,1,0,1,1,11703.2000,4078.152,0.0000
163,NSW164,1,29,10,1,0,0,1,0.0000,4398.950,0.0000
164,NSW165,1,29,12,1,0,0,0,9748.3870,4878.937,10976.5100
165,NSW166,1,19,10,0,0,0,1,0.0000,5324.109,13829.6200
166,NSW167,1,19,11,0,1,1,1,5424.4850,5463.803,6788.4630
167,NSW168,1,31,9,1,0,0,1,10717.0300,5517.841,9558.5010
168,NSW169,1,22,10,1,0,1,1,1468.3480,5588.664,13228.2800
169,NSW170,1,21,9,1,0,0,1,6416.4700,5749.331,743.6666
170,NSW171,1,17,10,1,0,0,1,1291.4680,5793.852,5522.7880
171,NSW172,1,26,12,1,0,1,0,8408.7620,5794.831,1424.9440
172,NSW173,1,20,9,0,1,0,1,12260.7800,5875.049,1358.6430
173,NSW174,1,19,10,1,0,0,1,4121.9490,6056.754,0.0000
174,NSW175,1,26,10,1,0,0,1,25929.6800,6788.958,672.8773
175,NSW176,1,28,11,1,0,0,1,1929.0290,6871.856,0.0000
176,NSW177,1,22,12,0,1,1,0,492.2305,7055.702,10092.8300
177,NSW178,1,33,11,1,0,0,1,0.0000,7867.916,6281.4330
178,NSW179,1,22,12,0,0,0,0,6759.9940,8455.504,12590.7100
179,NSW180,1,29,10,0,1,0,1,0.0000,8853.674,5112.0140
180,NSW181,1,33,12,1,0,1,0,20279.9500,10941.350,15952.6000
181,NSW182,1,25,14,1,0,1,0,35040.0700,11536.570,36646.9500
182,NSW183,1,35,9,1,0,1,1,13602.4300,13830.640,12803.9700
183,NSW184,1,35,8,1,0,1,1,13732.0700,17976.150,3786.6280
184,NSW185,1,33,11,1,0,1,1,14660.7100,25142.240,4181.9420

In [20]:
# plot salaries
#data['diff'] = data['re78']-data['re75']
data[data['treat'] == 1].plot(y='re74', figsize=(16, 8), grid=True)
#data[data['treat'] == 0].plot(y='diff', figsize=(16, 8), grid=True)

SyntaxError: unexpected EOF while parsing (<ipython-input-20-ab811c558b43>, line 4)

In [36]:
# compute the response
data[data['treat'] == 1].describe()

AttributeError: 'DataFrame' object has no attribute 'histo'

In [35]:
data[data['treat'] == 0].describe()

,treat,age,educ,black,hispan,married,nodegree,re74,re75,re78,diff
count,429.0,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000,429.000000
mean,0.0,28.030303,10.235431,0.202797,0.142191,0.512821,0.596737,5619.236506,2466.484443,6984.169742,4517.685299
std,0.0,10.786653,2.855238,0.402552,0.349654,0.500419,0.491126,6788.750796,3291.996183,7294.161791,6917.542917
min,0.0,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-13776.530000
25%,0.0,19.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,220.181300,0.000000
50%,0.0,25.000000,11.000000,0.000000,0.000000,1.000000,1.000000,2547.047000,1086.726000,4975.505000,2688.385000
75%,0.0,35.000000,12.000000,0.000000,0.000000,1.000000,1.000000,9277.128000,3881.419000,11688.820000,8007.601100
max,0.0,55.000000,18.000000,1.000000,1.000000,1.000000,1.000000,25862.320000,18347.230000,25564.670000,25564.670000

In [37]:
data[data['treat'] == 0]

NameError: name 'histo' is not defined

In [ ]:
# visualize the relationship between the features and the response using scatterplots
fig, axs = plt.subplots(1, 3, sharey=True)
data.plot(kind='scatter', x='TV', y='sales', ax=axs[0], figsize=(16, 8), grid=True)
data.plot(kind='scatter', x='radio', y='sales', ax=axs[1], grid=True)
data.plot(kind='scatter', x='newspaper', y='sales', ax=axs[2], grid=True)