In [19]:
import os
import glob
import requests, json
import functools
import pandas as pd
from bs4 import BeautifulSoup
from html.parser import HTMLParser

We start making a request and printing status, headers and part of the body.

In [20]:
r = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508492427994')

print('Response status code: {0}\n'.format(r.status_code))
universityJson = json.loads(r.text)

Response status code: 200

The response status is successful.

In [3]:
universityJson['data']
df1 = pd.DataFrame(universityJson['data'])
df1.head()

,cc,core_id,country,guide,logo,nid,rank_display,region,score,stars,title,url
0,US,410,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294850,1,North America,100,6,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...
1,US,573,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",297282,2,North America,98.7,5,Stanford University,/universities/stanford-university
2,US,253,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294270,3,North America,98.4,5,Harvard University,/universities/harvard-university
3,US,94,United States,"<a href=""/where-to-study/north-america/united-...","<img src=""https://www.topuniversities.com/site...",294562,4,North America,97.7,5,California Institute of Technology (Caltech),/universities/california-institute-technology-...
4,GB,95,United Kingdom,"<a href=""/where-to-study/europe/united-kingdom...","<img src=""https://www.topuniversities.com/site...",294561,5,Europe,95.6,5,University of Cambridge,/universities/university-cambridge

We extract name, rank, country and region, number of faculty members (international and total) and number of students (international and total). For the last two we need to access to the university url.

In [5]:
#Select colums of interest
#df1 = df1['title', 'rank_display', 'country', 'region']

'/universities/massachusetts-institute-technology-mit'

In [208]:
url = 'https://www.topuniversities.com/universities/massachusetts-institute-technology-mit#wurs'

# Do the request
req = requests.get(url)
page_body = req.text
soup = BeautifulSoup(page_body, 'html.parser')
t_faculty = soup.find_all('div', {'class':'faculty-main wrapper col-md-4'})
t_stud = soup.find_all('div', {'class':'students-main wrapper col-md-4'})
t_intstud = soup.find_all('div', {'class': 'int-students-main wrapper col-md-4'})

type(t_faculty)
type()
#for elem in all_h3:
    #next_elem = elem.next_element
    #soup2 = BeautifulSoup(repr(next_elem), 'html.parser')
    #num = soup2.find('div', {'class': 'number'})
    #print(soup2)
    #for next_elem in elem.next_elements:
        #soup2 = BeautifulSoup(repr(next_elem), 'html.parser')
        #num = soup2.find('div', {'class': 'number'})
        #if num != None:
           # print(num)
           # break

bs4.element.ResultSet

In [195]:
url = 'https://www.topuniversities.com/universities/massachusetts-institute-technology-mit#wurs'

# Do the request
req = requests.get(url)
page_body = req.text
soup = BeautifulSoup(page_body, 'html.parser')

In [170]:
all_h3[2].next_elements
        soup2 = BeautifulSoup(repr(next_elem), 'html.parser')
        num = soup2.find('div', {'class': 'number'})

In [114]:
url = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508492427994'

# Make the request
html = requests.get(url)

# Create a dataframe from the html
entire_html = pd.read_html(html)

# Define the indexes on which we are going to split the df
index_split = list(entire_html.loc[entire_html[0] == 'Civilit√©'].index - 1) + [len(entire_html)]
    
# Get the frames
data_retrived = fun_rec(index_split, entire_html, [])

TypeError: Cannot read object of type 'Response'

extract the following fields for each university: name, rank, country and region, number of faculty members (international and total) and number of students (international and total).

From the main page we can extract university name, rank, country and rating.

In [ ]:
all_td = soup.find_all('span')
all_td

In [ ]:
tag.attrs