In [1]:
# Import libraries
import requests, json
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# using Postman we found that the list comes from a json file
url = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
r = requests.get(url)

In [3]:
universityJson = json.loads(r.text)

In [6]:
pd.DataFrame(universityJson['data'])

,aliases,location,member_level,name,nid,rank,rank_order,record_type,scores_citations,scores_citations_rank,...,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,subjects_offered,url
0,University of Oxford,United Kingdom,0,University of Oxford,468,1,10,master_account,99.1,15,...,99.5,1,86.7,5,46 : 54,"20,409",38%,11.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-oxford
1,University of Cambridge,United Kingdom,0,University of Cambridge,470,2,20,master_account,97.5,29,...,97.8,3,87.8,3,45 : 55,"18,389",35%,10.9,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-cambridge
2,California Institute of Technology caltech,United States,0,California Institute of Technology,128779,=3,30,private,99.5,10,...,97.5,4,90.3,1,31 : 69,"2,209",27%,6.5,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/california-institut...
3,Stanford University,United States,11,Stanford University,467,=3,40,private,99.9,4,...,96.7,5,89.1,2,42 : 58,"15,845",22%,7.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/stanford-university
4,Massachusetts Institute of Technology,United States,0,Massachusetts Institute of Technology,471,5,50,private,100.0,1,...,91.9,9,87.3,4,37 : 63,"11,177",34%,8.7,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/massachusetts-insti...
5,Harvard University,United States,0,Harvard University,466,6,60,private,99.7,8,...,98.4,2,84.2,9,None,"20,326",26%,8.9,"Agriculture & Forestry,Archaeology,Art, Perfor...",/world-university-rankings/harvard-university
6,Princeton University,United States,0,Princeton University,469,7,70,private,99.6,9,...,93.9,6,85.7,7,45 : 55,"7,955",24%,8.3,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/princeton-university
7,Imperial College London,United Kingdom,0,Imperial College London,472,8,80,master_account,96.7,40,...,88.7,12,81.7,13,37 : 63,"15,857",55%,11.4,"Biological Sciences,Chemical Engineering,Chemi...",/world-university-rankings/imperial-college-lo...
8,University of Chicago,United States,0,University of Chicago,473,9,90,private,99.4,12,...,90.1,10,85.3,8,44 : 56,"13,525",25%,6.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-chicago
9,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,0,ETH Zurich – Swiss Federal Institute of Techno...,479,=10,100,master_account,94.3,60,...,92.0,8,76.4,21,31 : 69,"19,233",38%,14.6,"Agriculture & Forestry,Architecture,Biological...",/world-university-rankings/eth-zurich-swiss-fe...
10,University of Pennsylvania,United States,0,University of Pennsylvania,480,=10,110,private,98.5,22,...,90.1,11,83.7,10,50 : 50,"20,361",20%,6.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-pennsylv...
11,Yale University,United States,0,Yale University,475,12,120,private,98.4,24,...,87.0,17,86.7,6,49 : 51,"12,155",21%,4.3,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/yale-university
12,Johns Hopkins University,United States,0,Johns Hopkins University,478,13,130,private,98.4,23,...,88.1,16,76.1,23,52 : 48,"15,498",24%,4.3,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/johns-hopkins-unive...
13,Columbia University,United States,0,Columbia University,476,14,140,private,98.8,19,...,83.3,26,82.2,12,None,"26,587",32%,6.1,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/columbia-university
14,"University of California, Los Angeles",United States,0,"University of California, Los Angeles",477,15,150,public,97.9,27,...,88.1,15,80.7,14,53 : 47,"39,279",17%,9.6,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/university-californ...
15,University College London ucl,United Kingdom,0,University College London,481,16,160,master_account,94.6,56,...,88.2,13,74.4,25,56 : 44,"30,304",49%,10.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-college-...
16,Duke University,United States,0,Duke University,487,17,170,private,98.3,25,...,80.6,27,80.7,15,49 : 51,"15,256",22%,4.5,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/duke-university
17,"University of California, Berkeley",United States,0,"University of California, Berkeley",474,18,180,public,99.8,5,...,84.5,24,77.4,18,52 : 48,"36,182",17%,13.1,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/university-californ...
18,Cornell University,United States,0,Cornell University,484,19,190,private,97.6,28,...,86.6,19,76.2,22,49 : 51,"21,850",24%,9.8,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/cornell-university
19,Northwestern University,United States,0,Northwestern University,490,20,200,private,96.9,36,...,86.7,18,72.6,28,48 : 52,"17,466",18%,12.8,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/northwestern-univer...
20,University of Michigan,United States,0,University of Michigan,482,21,210,public,95.7,47,...,86.3,20,77.2,20,48 : 52,"41,818",16%,8.6,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-michigan
21,National University of Singapore nus,Singapore,6,National University of Singapore,504,=22,220,master_account,81.3,193,...,88.2,14,77.4,19,51 : 49,"30,602",30%,17.0,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/national-university...
22,University of Toronto,Canada,0,University of Toronto,483,=22,230,master_account,92.6,75,...,84.8,23,74.6,24,None,"69,427",17%,18.7,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-toronto
23,Carnegie Mellon University,United States,0,Carnegie Mellon University,485,24,240,private,99.7,7,...,83.7,25,65.8,36,39 : 61,"12,676",45%,13.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/carnegie-mellon-uni...
24,London School of Economics and Political Science,United Kingdom,0,London School of Economics and Political Science,511,=25,250,master_account,94.9,53,...,72.0,43,71.8,30,52 : 48,"10,065",71%,12.2,"Accounting & Finance,Business & Management,Eco...",/world-university-rankings/london-school-econo...
25,University of Washington,United States,0,University of Washington,489,=25,260,public,99.0,17,...,79.9,28,67.9,34,52 : 48,"44,945",16%,11.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-washington
26,University of Edinburgh,United Kingdom,0,University of Edinburgh,500,=27,270,master_account,97.0,35,...,74.2,36,66.8,35,59 : 41,"26,759",40%,12.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-edinburgh
27,New York University,United States,0,New York University,508,=27,280,private,96.5,43,...,77.4,34,73.7,27,56 : 44,"43,860",26%,9.6,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/new-york-university
28,Peking University,China,0,Peking University,514,=27,290,master_account,74.2,274,...,85.1,22,83.0,11,47 : 53,"42,136",16%,8.9,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/peking-university
29,Tsinghua University Qinghua University Tsing h...,China,6,Tsinghua University,535,30,300,master_account,71.4,306,...,93.2,7,80.2,16,32 : 68,"42,089",9%,13.7,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/tsinghua-university
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072,Sathyabama University,India,0,Sathyabama University,131645,1001+,10730,master_account,2.1,1098,...,7.9,1023,17.0,1014,51 : 49,"17,861",1%,22.1,"Architecture,Chemical Engineering,Civil Engine...",/world-university-rankings/sathyabama-university
1073,Sechenov University,Russian Federation,0,Sechenov University,131316,1001+,10740,master_account,0.8,1102,...,8.4,995,23.4,630,58 : 42,"16,128",10%,9.0,"Medicine & Dentistry,Other Health,Psychology",/world-university-rankings/sechenov-university
1074,Shanghai Maritime University,China,0,Shanghai Maritime University,622146,1001+,10750,master_account,16.8,915,...,8.1,1011,15.2,1082,37 : 63,"23,552",3%,18.8,,/world-university-rankings/shanghai-maritime-u...
1075,Shibaura Institute of Technology Tokyo,Japan,0,Shibaura Institute of Technology Tokyo,587799,1001+,10760,master_account,8.4,1047,...,8.5,992,17.1,1001,15 : 85,"9,911",4%,17.7,"Agriculture & Forestry,Biological Sciences,Che...",/world-university-rankings/shibaura-institute-...
1076,Siberian Federal University,Russian Federation,1,Siberian Federal University,131484,1001+,10770,master_account,6.2,1066,...,9.0,962,19.6,846,47 : 53,"28,008",1%,11.3,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/siberian-federal-un...
1077,Sidi Mohamed Ben Abdellah University,Morocco,0,Sidi Mohamed Ben Abdellah University,131760,1001+,10780,master_account,9.7,1024,...,6.3,1086,25.6,520,45 : 55,"82,558",2%,58.3,"Biological Sciences,Business & Management,Chem...",/world-university-rankings/sidi-mohamed-ben-ab...
1078,University of the Sinos Valley,Brazil,0,University of the Sinos Valley,131776,1001+,10790,master_account,5.6,1072,...,12.0,792,23.0,652,52 : 48,"14,412",1%,20.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-sinos-va...
1079,Sofia University,Bulgaria,0,Sofia University,131753,1001+,10800,master_account,9.0,1037,...,8.6,990,19.6,847,65 : 35,"23,956",4%,13.7,"Archaeology,Art, Performing Arts & Design,Busi...",/world-university-rankings/sofia-university
1080,Southwest Jiaotong University,China,0,Southwest Jiaotong University,131768,1001+,10810,master_account,9.0,1038,...,12.0,793,18.6,917,26 : 74,"40,819",2%,15.3,"Architecture,Business & Management,Civil Engin...",/world-university-rankings/southwest-jiaotong-...
1081,SRM University,India,6,SRM University,131575,1001+,10820,master_account,8.9,1041,...,7.3,1058,16.4,1047,23 : 77,"42,886",2%,15.3,"Architecture,Business & Management,Chemical En...",/world-university-rankings/srm-university
1082,State University of Maringá,Brazil,0,State University of Maringá,131470,1001+,10830,master_account,6.0,1068,...,9.3,940,18.8,902,59 : 41,"23,341",1%,14.1,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/state-university-ma...
1083,State University of Western Paraná (Unioeste),Brazil,0,State University of Western Paraná (Unioeste),625686,1001+,10840,master_account,2.4,1096,...,4.6,1098,22.4,685,53 : 47,"10,791",0%,5.0,,/world-university-rankings/state-university-we...
1084,Tamil Nadu Agricultural University,India,0,Tamil Nadu Agricultural University,621501,1001+,10850,master_account,2.8,1094,...,8.8,978,24.9,554,62 : 38,"5,780",0%,7.1,,/world-university-rankings/tamil-nadu-agricult...
1085,Tamkang University,Taiwan,0,Tamkang University,131693,1001+,10860,master_account,9.3,1030,...,11.1,842,16.0,1063,48 : 52,"27,060",6%,24.0,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/tamkang-university
1086,Technical University of Liberec,Czech Republic,6,Technical University of Liberec,131345,1001+,10870,master_account,4.7,1077,...,10.2,891,18.5,923,54 : 46,"6,129",9%,12.1,"Art, Performing Arts & Design,Business & Manag...",/world-university-rankings/technical-universit...
1087,Tokyo City University,Japan,0,Tokyo City University,587859,1001+,10880,master_account,11.5,1001,...,9.6,919,18.5,924,22 : 78,"7,904",1%,15.6,"Architecture,Chemical Engineering,Civil Engine...",/world-university-rankings/tokyo-city-university
1088,Tokyo Denki University,Japan,0,Tokyo Denki University,589262,1001+,10890,master_account,2.9,1092,...,7.9,1024,15.5,1075,10 : 90,"9,400",2%,25.7,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/tokyo-denki-university
1089,Tottori University,Japan,0,Tottori University,131538,1001+,10900,master_account,10.8,1012,...,8.1,1012,22.4,687,36 : 64,"6,165",2%,8.0,"General Engineering,Medicine & Dentistry",/world-university-rankings/tottori-university
1090,Toyo University,Japan,0,Toyo University,131682,1001+,10910,master_account,8.1,1049,...,9.3,942,15.7,1067,41 : 59,"30,142",1%,33.5,"Architecture,Business & Management,Chemical En...",/world-university-rankings/toyo-university
1091,University of Tunis El Manar,Tunisia,0,University of Tunis El Manar,131771,1001+,10920,master_account,7.3,1057,...,9.3,943,22.7,672,76 : 24,"30,301",1%,16.7,"Biological Sciences,Business & Management,Chem...",/world-university-rankings/university-tunis-el...
1092,Ural Federal University,Russian Federation,0,Ural Federal University,131493,1001+,10930,master_account,5.8,1070,...,11.9,800,22.3,690,46 : 54,"24,917",7%,9.8,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/ural-federal-univer...
1093,Universiti Utara Malaysia,Malaysia,0,Universiti Utara Malaysia,131511,1001+,10940,master_account,2.9,1093,...,10.3,884,24.2,589,73 : 27,"14,315",18%,13.0,"Accounting & Finance,Art, Performing Arts & De...",/world-university-rankings/universiti-utara-ma...
1094,Utsunomiya University,Japan,0,Utsunomiya University,589184,1001+,10950,master_account,7.2,1060,...,9.2,949,18.5,925,36 : 64,"4,928",4%,14.5,"Agriculture & Forestry,Architecture,Chemistry,...",/world-university-rankings/utsunomiya-university
1095,"University of Veterinary and Animal Sciences, ...",Pakistan,0,"University of Veterinary and Animal Sciences, ...",131434,1001+,10960,master_account,4.4,1079,...,9.1,956,15.7,1068,45 : 55,"5,003",0%,28.6,"Accounting & Finance,Art, Performing Arts & De...",/world-university-rankings/university-veterina...
1096,V.N. Karazin Kharkiv National University,Ukraine,0,V.N. Karazin Kharkiv National University,131424,1001+,10970,master_account,3.1,1089,...,7.9,1025,21.3,738,53 : 47,"16,067",27%,9.8,"Biological Sciences,Business & Management,Chem...",/world-university-rankings/vn-karazin-kharkiv-...
1097,Volgograd State Technical University,Russian Federation,0,Volgograd State Technical University,587679,1001+,10980,master_account,2.0,1099,...,6.9,1072,17.7,978,None,"9,254",6%,12.0,"Business & Management,Chemical Engineering,Eco...",/world-university-rankings/volgograd-state-tec...
1098,Voronezh State University,Russian Federation,0,Voronezh State University,131433,1001+,10990,master_account,1.9,1101,...,7.1,1064,20.8,775,58 : 42,"15,468",9%,10.1,"Biological Sciences,Chemistry,Communication & ...",/world-university-rankings/voronezh-state-univ...
1099,Yazd University,Iran,0,Yazd University,587751,1001+,11000,master_account,14.8,949,...,9.9,910,14.6,1097,56 : 44,"13,600",0%,23.9,"Business & Management,Civil Engineering,Econom...",/world-university-rankings/yazd-university
1100,Yeditepe University,Turkey,0,Yeditepe University,624663,1001+,11010,master_account,9.7,1025,...,8.0,1015,15.4,1079,52 : 48,"23,260",1%,25.1,,/world-university-rankings/yeditepe-university
1101,University of Zanjan,Iran,0,University of Zanjan,587757,1001+,11020,master_account,15.7,934,...,9.4,934,16.2,1054,55 : 45,"10,305",0%,25.8,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-zanjan