In [3]:
# Import libraries
import requests, json
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
# using Postman we found that the list comes from a json file
url = 'https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json'
r = requests.get(url)
universityJson = json.loads(r.text)

In [86]:
# Let's get the top 200 and display them
pd.set_option('display.max_columns', 500)
top200 = pd.DataFrame(universityJson['data'])[:200]
top200

,aliases,location,member_level,name,nid,rank,rank_order,record_type,scores_citations,scores_citations_rank,scores_industry_income,scores_industry_income_rank,scores_international_outlook,scores_international_outlook_rank,scores_overall,scores_overall_rank,scores_research,scores_research_rank,scores_teaching,scores_teaching_rank,stats_female_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,subjects_offered,url
0,University of Oxford,United Kingdom,0,University of Oxford,468,1,10,master_account,99.1,15,63.7,169,95.0,24,94.3,10,99.5,1,86.7,5,46 : 54,"20,409",38%,11.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-oxford
1,University of Cambridge,United Kingdom,0,University of Cambridge,470,2,20,master_account,97.5,29,51.5,260,93.0,35,93.2,20,97.8,3,87.8,3,45 : 55,"18,389",35%,10.9,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-cambridge
2,California Institute of Technology caltech,United States,0,California Institute of Technology,128779,=3,30,private,99.5,10,92.6,51,59.7,322,93.0,30,97.5,4,90.3,1,31 : 69,"2,209",27%,6.5,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/california-institut...
3,Stanford University,United States,11,Stanford University,467,=3,40,private,99.9,4,60.5,189,77.6,162,93.0,40,96.7,5,89.1,2,42 : 58,"15,845",22%,7.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/stanford-university
4,Massachusetts Institute of Technology,United States,0,Massachusetts Institute of Technology,471,5,50,private,100.0,1,88.4,63,87.6,81,92.5,50,91.9,9,87.3,4,37 : 63,"11,177",34%,8.7,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/massachusetts-insti...
5,Harvard University,United States,0,Harvard University,466,6,60,private,99.7,8,46.4,330,79.7,143,91.8,60,98.4,2,84.2,9,None,"20,326",26%,8.9,"Agriculture & Forestry,Archaeology,Art, Perfor...",/world-university-rankings/harvard-university
6,Princeton University,United States,0,Princeton University,469,7,70,private,99.6,9,58.0,204,78.7,152,91.1,70,93.9,6,85.7,7,45 : 55,"7,955",24%,8.3,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/princeton-university
7,Imperial College London,United Kingdom,0,Imperial College London,472,8,80,master_account,96.7,40,71.6,120,96.6,13,89.2,80,88.7,12,81.7,13,37 : 63,"15,857",55%,11.4,"Biological Sciences,Chemical Engineering,Chemi...",/world-university-rankings/imperial-college-lo...
8,University of Chicago,United States,0,University of Chicago,473,9,90,private,99.4,12,39.8,487,69.6,231,88.6,90,90.1,10,85.3,8,44 : 56,"13,525",25%,6.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-chicago
9,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,0,ETH Zurich – Swiss Federal Institute of Techno...,479,=10,100,master_account,94.3,60,60.3,190,98.1,8,87.7,100,92.0,8,76.4,21,31 : 69,"19,233",38%,14.6,"Agriculture & Forestry,Architecture,Biological...",/world-university-rankings/eth-zurich-swiss-fe...
10,University of Pennsylvania,United States,0,University of Pennsylvania,480,=10,110,private,98.5,22,56.9,213,61.3,300,87.7,110,90.1,11,83.7,10,50 : 50,"20,361",20%,6.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-pennsylv...
11,Yale University,United States,0,Yale University,475,12,120,private,98.4,24,45.1,361,64.6,272,87.6,120,87.0,17,86.7,6,49 : 51,"12,155",21%,4.3,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/yale-university
12,Johns Hopkins University,United States,0,Johns Hopkins University,478,13,130,private,98.4,23,95.8,41,70.6,219,86.5,130,88.1,16,76.1,23,52 : 48,"15,498",24%,4.3,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/johns-hopkins-unive...
13,Columbia University,United States,0,Columbia University,476,14,140,private,98.8,19,41.3,438,76.6,177,86.0,140,83.3,26,82.2,12,None,"26,587",32%,6.1,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/columbia-university
14,"University of California, Los Angeles",United States,0,"University of California, Los Angeles",477,15,150,public,97.9,27,48.6,298,59.5,326,85.7,150,88.1,15,80.7,14,53 : 47,"39,279",17%,9.6,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/university-californ...
15,University College London ucl,United Kingdom,0,University College London,481,16,160,master_account,94.6,56,41.2,441,94.6,25,85.3,160,88.2,13,74.4,25,56 : 44,"30,304",49%,10.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-college-...
16,Duke University,United States,0,Duke University,487,17,170,private,98.3,25,100.0,1,62.5,292,85.1,170,80.6,27,80.7,15,49 : 51,"15,256",22%,4.5,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/duke-university
17,"University of California, Berkeley",United States,0,"University of California, Berkeley",474,18,180,public,99.8,5,37.5,586,64.5,273,84.3,180,84.5,24,77.4,18,52 : 48,"36,182",17%,13.1,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/university-californ...
18,Cornell University,United States,0,Cornell University,484,19,190,private,97.6,28,34.6,749,69.2,233,84.2,190,86.6,19,76.2,22,49 : 51,"21,850",24%,9.8,"Agriculture & Forestry,Archaeology,Architectur...",/world-university-rankings/cornell-university
19,Northwestern University,United States,0,Northwestern University,490,20,200,private,96.9,36,78.2,99,59.2,330,83.3,200,86.7,18,72.6,28,48 : 52,"17,466",18%,12.8,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/northwestern-univer...
20,University of Michigan,United States,0,University of Michigan,482,21,210,public,95.7,47,46.2,333,55.8,367,83.1,210,86.3,20,77.2,20,48 : 52,"41,818",16%,8.6,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-michigan
21,National University of Singapore nus,Singapore,6,National University of Singapore,504,=22,220,master_account,81.3,193,61.9,181,95.8,20,82.8,220,88.2,14,77.4,19,51 : 49,"30,602",30%,17.0,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/national-university...
22,University of Toronto,Canada,0,University of Toronto,483,=22,230,master_account,92.6,75,46.5,329,80.1,137,82.8,230,84.8,23,74.6,24,None,"69,427",17%,18.7,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-toronto
23,Carnegie Mellon University,United States,0,Carnegie Mellon University,485,24,240,private,99.7,7,50.4,277,79.1,147,81.9,240,83.7,25,65.8,36,39 : 61,"12,676",45%,13.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/carnegie-mellon-uni...
24,London School of Economics and Political Science,United Kingdom,0,London School of Economics and Political Science,511,=25,250,master_account,94.9,53,33.7,820,92.2,43,79.4,250,72.0,43,71.8,30,52 : 48,"10,065",71%,12.2,"Accounting & Finance,Business & Management,Eco...",/world-university-rankings/london-school-econo...
25,University of Washington,United States,0,University of Washington,489,=25,260,public,99.0,17,47.3,319,56.5,358,79.4,260,79.9,28,67.9,34,52 : 48,"44,945",16%,11.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-washington
26,University of Edinburgh,United Kingdom,0,University of Edinburgh,500,=27,270,master_account,97.0,35,36.3,645,92.0,46,79.2,270,74.2,36,66.8,35,59 : 41,"26,759",40%,12.5,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-edinburgh
27,New York University,United States,0,New York University,508,=27,280,private,96.5,43,37.0,615,53.4,394,79.2,280,77.4,34,73.7,27,56 : 44,"43,860",26%,9.6,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/new-york-university
28,Peking University,China,0,Peking University,514,=27,290,master_account,74.2,274,100.0,8,53.0,404,79.2,290,85.1,22,83.0,11,47 : 53,"42,136",16%,8.9,"Accounting & Finance,Archaeology,Art, Performi...",/world-university-rankings/peking-university
29,Tsinghua University Qinghua University Tsing h...,China,6,Tsinghua University,535,30,300,master_account,71.4,306,99.8,19,41.0,598,79.0,300,93.2,7,80.2,16,32 : 68,"42,089",9%,13.7,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/tsinghua-university
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,University of Cape Town,South Africa,0,University of Cape Town,567,171,1710,master_account,87.0,133,88.5,62,81.1,126,54.4,1710,36.2,225,30.5,372,53 : 47,"20,775",18%,11.7,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-cape-town
171,"Rutgers, the State University of New Jersey",United States,0,"Rutgers, the State University of New Jersey",546,172,1720,public,79.7,214,36.9,620,39.2,622,54.3,1720,45.3,143,43.0,148,52 : 48,"43,439",10%,11.1,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/rutgers-state-unive...
172,KTH Royal Institute of Technology,Sweden,0,KTH Royal Institute of Technology,651,=173,1730,master_account,67.0,363,50.9,272,83.7,111,54.2,1730,46.3,138,42.3,158,33 : 67,"12,951",17%,16.0,"Architecture,Biological Sciences,Chemistry,Com...",/world-university-rankings/kth-royal-institute...
173,University of Münster,Germany,0,University of Münster,756,=173,1740,master_account,81.2,195,60.8,185,47.7,489,54.2,1740,42.1,161,40.3,181,53 : 47,"42,287",7%,42.6,"Chemistry,Communication & Media Studies,Comput...",/world-university-rankings/university-munster
174,Université Libre de Bruxelles,Belgium,0,Université Libre de Bruxelles,669,=175,1750,master_account,80.4,205,48.4,302,83.2,114,54.0,1750,42.2,160,32.4,332,55 : 45,"25,343",35%,43.4,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/universite-libre-de...
175,Newcastle University,United Kingdom,6,Newcastle University,610,=175,1760,master_account,80.6,201,41.6,426,86.7,89,54.0,1760,40.8,176,33.4,304,49 : 51,"20,952",30%,15.6,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/newcastle-university
176,University of Liverpool,United Kingdom,11,University of Liverpool,646,=177,1770,master_account,86.8,136,37.1,609,89.9,67,53.9,1770,34.7,245,32.7,318,54 : 46,"19,815",35%,11.7,"Accounting & Finance,Archaeology,Architecture,...",/world-university-rankings/university-liverpool
177,Zhejiang University ZJU Zhejiang University Ch...,China,11,Zhejiang University,815,=177,1780,master_account,45.1,564,89.4,57,25.2,844,53.9,1780,63.7,60,57.0,63,22 : 78,"50,051",6%,14.1,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/zhejiang-university
178,University of Luxembourg,Luxembourg,6,University of Luxembourg,131698,=179,1790,master_account,91.9,78,39.6,493,99.8,1,53.8,1790,32.4,275,26.8,475,50 : 50,"4,969",57%,14.6,"Accounting & Finance,Biological Sciences,Busin...",/world-university-rankings/university-luxembourg
179,University of Twente,Netherlands,6,University of Twente,664,=179,1800,master_account,68.5,342,83.6,79,85.3,97,53.8,1800,47.0,134,35.5,257,37 : 63,"6,697",27%,12.8,"Art, Performing Arts & Design,Business & Manag...",/world-university-rankings/university-twente
180,Paris-Sud University,France,0,Paris-Sud University,867,181,1810,master_account,86.8,138,32.3,971,63.5,281,53.7,1810,33.1,265,40.4,180,55 : 45,"27,221",16%,14.5,"Business & Management,Chemistry,Economics & Ec...",/world-university-rankings/paris-sud-university
181,École Normale Supérieure de Lyon,France,0,École Normale Supérieure de Lyon,605,=182,1820,master_account,80.9,197,37.9,570,67.3,246,53.6,1820,37.8,210,40.1,185,47 : 53,"2,221",13%,8.5,"Chemistry,Computer Science,Geology, Environmen...",/world-university-rankings/ecole-normale-super...
182,Hong Kong Polytechnic University hkpu hong kon...,Hong Kong,11,Hong Kong Polytechnic University,723,=182,1830,master_account,67.7,356,45.8,343,79.9,139,53.6,1830,48.1,126,39.1,197,51 : 49,"21,773",25%,26.9,"Accounting & Finance,Art, Performing Arts & De...",/world-university-rankings/hong-kong-polytechn...
183,Scuola Normale Superiore di Pisa,Italy,0,Scuola Normale Superiore di Pisa,1019,184,1840,master_account,75.4,255,37.7,581,49.4,460,53.4,1840,33.3,263,53.7,74,30 : 70,515,7%,5.2,"Biological Sciences,Chemistry,Computer Science...",/world-university-rankings/scuola-normale-supe...
184,University of Aberdeen,United Kingdom,0,University of Aberdeen,615,185,1850,master_account,87.1,131,41.9,419,93.3,33,53.3,1850,33.6,258,30.3,377,55 : 45,"12,055",36%,13.9,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-aberdeen
185,University of Miami,United States,0,University of Miami,636,186,1860,private,90.3,91,37.2,606,67.1,248,53.1,1860,24.4,418,42.5,157,51 : 49,"15,860",16%,5.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-miami
186,University of Dundee,United Kingdom,11,University of Dundee,640,187,1870,master_account,94.5,57,43.4,383,79.8,142,52.9,1870,32.0,284,26.3,491,62 : 38,"10,893",24%,14.9,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-dundee
187,University of East Anglia,United Kingdom,0,University of East Anglia,609,=188,1880,master_account,90.5,89,32.2,977,85.6,94,52.8,1880,31.6,290,29.9,395,60 : 40,"13,521",30%,13.6,"Accounting & Finance,Archaeology,Biological Sc...",/world-university-rankings/university-east-anglia
188,Shanghai Jiao Tong University,China,0,Shanghai Jiao Tong University,801,=188,1890,master_account,44.1,572,88.9,60,33.4,717,52.8,1890,62.5,67,53.5,76,41 : 59,"37,288",6%,12.4,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/shanghai-jiao-tong-...
189,Aalto University,Finland,0,Aalto University,767,190,1900,master_account,79.5,215,52.5,249,72.5,204,52.7,1900,35.8,232,37.8,210,34 : 66,"12,744",20%,20.2,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/aalto-university
190,University of Massachusetts,United States,0,University of Massachusetts,528,191,1910,master_account,88.8,112,51.0,269,54.8,379,52.6,1910,32.2,280,36.3,237,49 : 51,"59,230",14%,13.3,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/university-massachu...
191,University of Auckland,New Zealand,11,University of Auckland,637,192,1920,master_account,73.8,282,67.3,154,90.6,61,52.5,1920,40.7,177,32.5,327,54 : 46,"30,348",29%,18.8,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/university-auckland
192,Northeastern University,United States,0,Northeastern University,681,193,1930,private,91.7,79,35.4,699,70.1,223,52.4,1930,26.8,370,35.6,254,49 : 51,"18,780",32%,14.0,"Accounting & Finance,Architecture,Art, Perform...",/world-university-rankings/northeastern-univer...
193,Lomonosov Moscow State University,Russian Federation,0,Lomonosov Moscow State University,753,194,1940,master_account,15.8,932,89.0,58,61.1,303,52.3,1940,61.6,71,74.2,26,48 : 52,"29,236",22%,7.3,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/lomonosov-moscow-st...
194,Tilburg University,Netherlands,0,Tilburg University,734,195,1950,master_account,61.3,422,59.0,197,75.8,179,52.1,1950,50.1,112,38.4,206,48 : 52,"7,738",13%,22.5,"Business & Management,Economics & Econometrics...",/world-university-rankings/tilburg-university
195,Paris-Sorbonne University – Paris 4,France,0,Paris-Sorbonne University – Paris 4,924,196,1960,master_account,77.1,240,32.1,998,57.9,345,52.0,1960,34.3,251,44.6,132,68 : 32,"22,042",15%,30.2,"Archaeology,Art, Performing Arts & Design,Geog...",/world-university-rankings/paris-sorbonne-univ...
196,"Royal Holloway, University of London",United Kingdom,0,"Royal Holloway, University of London",571,197,1970,master_account,85.0,156,35.0,725,93.0,37,51.9,1970,27.9,345,33.9,294,59 : 41,"8,931",40%,15.4,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/royal-holloway-univ...
197,"University of California, Riverside",United States,0,"University of California, Riverside",607,=198,1980,public,92.3,76,37.4,590,63.9,277,51.7,1980,30.9,294,30.0,391,51 : 49,"20,740",14%,20.7,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-californ...
198,University of Gothenburg,Sweden,0,University of Gothenburg,676,=198,1990,master_account,87.5,129,38.9,525,62.5,293,51.7,1990,39.2,199,26.7,477,None,"18,378",13%,10.0,"Art, Performing Arts & Design,Biological Scien...",/world-university-rankings/university-gothenburg
199,National Taiwan University,Taiwan,0,National Taiwan University,618,=198,2000,master_account,53.4,495,65.0,165,33.4,716,51.7,2000,54.7,93,50.4,87,40 : 60,"31,758",8%,11.5,"Accounting & Finance,Agriculture & Forestry,Ar...",/world-university-rankings/national-taiwan-uni...

In [87]:
locationData = pd.DataFrame()
for index, row in top200.iterrows():
    nid = row['nid']
    #comparisonLink = 'https://www.timeshighereducation.com/sites/default/files/university/comparison/'+str(nid)+'.json'
    #rankingsLink = 'https://www.timeshighereducation.com/sites/default/files/university/rankings/'+str(nid)+'.json'
    locationLink = 'https://www.timeshighereducation.com/sites/default/files/institution_markers/gmap_'+str(nid)+'.json'
    rLocation = requests.get(locationLink)
    if rLocation.ok:
        locationJson = json.loads(rLocation.text)
        locationDF = pd.DataFrame(comparisonJson)
        locationData = locationData.append(locationDF, ignore_index=True)

In [88]:
locationData

,name,nid,rank,scores_citations,scores_industry_income,scores_international_outlook,scores_overall,scores_research,scores_teaching,stats_female_ratio,stats_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,url
0,Aalto University,767,190,79.5,52.5,72.5,52.7,35.8,37.8,34,66,12744,20,20.2,world-university-rankings/aalto-university
1,University of Massachusetts,528,191,88.8,51.0,54.8,52.6,32.2,36.3,49,51,59230,14,13.3,world-university-rankings/university-massachus...
2,University of Auckland,637,192,73.8,67.3,90.6,52.5,40.7,32.5,54,46,30348,29,18.8,world-university-rankings/university-auckland
3,Northeastern University,681,193,91.7,35.4,70.1,52.4,26.8,35.6,49,51,18780,32,14.0,world-university-rankings/northeastern-university
4,Lomonosov Moscow State University,753,194,15.8,89.0,61.1,52.3,61.6,74.2,48,52,29236,22,7.3,world-university-rankings/lomonosov-moscow-sta...
5,Tilburg University,734,195,61.3,59.0,75.8,52.1,50.1,38.4,48,52,7738,13,22.5,world-university-rankings/tilburg-university
6,Paris-Sorbonne University – Paris 4,924,196,77.1,32.1,57.9,52.0,34.3,44.6,68,32,22042,15,30.2,world-university-rankings/paris-sorbonne-unive...
7,"Royal Holloway, University of London",571,197,85.0,35.0,93.0,51.9,27.9,33.9,59,41,8931,40,15.4,world-university-rankings/royal-holloway-unive...
8,Aalto University,767,190,79.5,52.5,72.5,52.7,35.8,37.8,34,66,12744,20,20.2,world-university-rankings/aalto-university
9,University of Massachusetts,528,191,88.8,51.0,54.8,52.6,32.2,36.3,49,51,59230,14,13.3,world-university-rankings/university-massachus...
10,University of Auckland,637,192,73.8,67.3,90.6,52.5,40.7,32.5,54,46,30348,29,18.8,world-university-rankings/university-auckland
11,Northeastern University,681,193,91.7,35.4,70.1,52.4,26.8,35.6,49,51,18780,32,14.0,world-university-rankings/northeastern-university
12,Lomonosov Moscow State University,753,194,15.8,89.0,61.1,52.3,61.6,74.2,48,52,29236,22,7.3,world-university-rankings/lomonosov-moscow-sta...
13,Tilburg University,734,195,61.3,59.0,75.8,52.1,50.1,38.4,48,52,7738,13,22.5,world-university-rankings/tilburg-university
14,Paris-Sorbonne University – Paris 4,924,196,77.1,32.1,57.9,52.0,34.3,44.6,68,32,22042,15,30.2,world-university-rankings/paris-sorbonne-unive...
15,"Royal Holloway, University of London",571,197,85.0,35.0,93.0,51.9,27.9,33.9,59,41,8931,40,15.4,world-university-rankings/royal-holloway-unive...
16,Aalto University,767,190,79.5,52.5,72.5,52.7,35.8,37.8,34,66,12744,20,20.2,world-university-rankings/aalto-university
17,University of Massachusetts,528,191,88.8,51.0,54.8,52.6,32.2,36.3,49,51,59230,14,13.3,world-university-rankings/university-massachus...
18,University of Auckland,637,192,73.8,67.3,90.6,52.5,40.7,32.5,54,46,30348,29,18.8,world-university-rankings/university-auckland
19,Northeastern University,681,193,91.7,35.4,70.1,52.4,26.8,35.6,49,51,18780,32,14.0,world-university-rankings/northeastern-university
20,Lomonosov Moscow State University,753,194,15.8,89.0,61.1,52.3,61.6,74.2,48,52,29236,22,7.3,world-university-rankings/lomonosov-moscow-sta...
21,Tilburg University,734,195,61.3,59.0,75.8,52.1,50.1,38.4,48,52,7738,13,22.5,world-university-rankings/tilburg-university
22,Paris-Sorbonne University – Paris 4,924,196,77.1,32.1,57.9,52.0,34.3,44.6,68,32,22042,15,30.2,world-university-rankings/paris-sorbonne-unive...
23,"Royal Holloway, University of London",571,197,85.0,35.0,93.0,51.9,27.9,33.9,59,41,8931,40,15.4,world-university-rankings/royal-holloway-unive...
24,Aalto University,767,190,79.5,52.5,72.5,52.7,35.8,37.8,34,66,12744,20,20.2,world-university-rankings/aalto-university
25,University of Massachusetts,528,191,88.8,51.0,54.8,52.6,32.2,36.3,49,51,59230,14,13.3,world-university-rankings/university-massachus...
26,University of Auckland,637,192,73.8,67.3,90.6,52.5,40.7,32.5,54,46,30348,29,18.8,world-university-rankings/university-auckland
27,Northeastern University,681,193,91.7,35.4,70.1,52.4,26.8,35.6,49,51,18780,32,14.0,world-university-rankings/northeastern-university
28,Lomonosov Moscow State University,753,194,15.8,89.0,61.1,52.3,61.6,74.2,48,52,29236,22,7.3,world-university-rankings/lomonosov-moscow-sta...
29,Tilburg University,734,195,61.3,59.0,75.8,52.1,50.1,38.4,48,52,7738,13,22.5,world-university-rankings/tilburg-university
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1570,University of Auckland,637,192,73.8,67.3,90.6,52.5,40.7,32.5,54,46,30348,29,18.8,world-university-rankings/university-auckland
1571,Northeastern University,681,193,91.7,35.4,70.1,52.4,26.8,35.6,49,51,18780,32,14.0,world-university-rankings/northeastern-university
1572,Lomonosov Moscow State University,753,194,15.8,89.0,61.1,52.3,61.6,74.2,48,52,29236,22,7.3,world-university-rankings/lomonosov-moscow-sta...
1573,Tilburg University,734,195,61.3,59.0,75.8,52.1,50.1,38.4,48,52,7738,13,22.5,world-university-rankings/tilburg-university
1574,Paris-Sorbonne University – Paris 4,924,196,77.1,32.1,57.9,52.0,34.3,44.6,68,32,22042,15,30.2,world-university-rankings/paris-sorbonne-unive...
1575,"Royal Holloway, University of London",571,197,85.0,35.0,93.0,51.9,27.9,33.9,59,41,8931,40,15.4,world-university-rankings/royal-holloway-unive...
1576,Aalto University,767,190,79.5,52.5,72.5,52.7,35.8,37.8,34,66,12744,20,20.2,world-university-rankings/aalto-university
1577,University of Massachusetts,528,191,88.8,51.0,54.8,52.6,32.2,36.3,49,51,59230,14,13.3,world-university-rankings/university-massachus...
1578,University of Auckland,637,192,73.8,67.3,90.6,52.5,40.7,32.5,54,46,30348,29,18.8,world-university-rankings/university-auckland
1579,Northeastern University,681,193,91.7,35.4,70.1,52.4,26.8,35.6,49,51,18780,32,14.0,world-university-rankings/northeastern-university
1580,Lomonosov Moscow State University,753,194,15.8,89.0,61.1,52.3,61.6,74.2,48,52,29236,22,7.3,world-university-rankings/lomonosov-moscow-sta...
1581,Tilburg University,734,195,61.3,59.0,75.8,52.1,50.1,38.4,48,52,7738,13,22.5,world-university-rankings/tilburg-university
1582,Paris-Sorbonne University – Paris 4,924,196,77.1,32.1,57.9,52.0,34.3,44.6,68,32,22042,15,30.2,world-university-rankings/paris-sorbonne-unive...
1583,"Royal Holloway, University of London",571,197,85.0,35.0,93.0,51.9,27.9,33.9,59,41,8931,40,15.4,world-university-rankings/royal-holloway-unive...
1584,Aalto University,767,190,79.5,52.5,72.5,52.7,35.8,37.8,34,66,12744,20,20.2,world-university-rankings/aalto-university
1585,University of Massachusetts,528,191,88.8,51.0,54.8,52.6,32.2,36.3,49,51,59230,14,13.3,world-university-rankings/university-massachus...
1586,University of Auckland,637,192,73.8,67.3,90.6,52.5,40.7,32.5,54,46,30348,29,18.8,world-university-rankings/university-auckland
1587,Northeastern University,681,193,91.7,35.4,70.1,52.4,26.8,35.6,49,51,18780,32,14.0,world-university-rankings/northeastern-university
1588,Lomonosov Moscow State University,753,194,15.8,89.0,61.1,52.3,61.6,74.2,48,52,29236,22,7.3,world-university-rankings/lomonosov-moscow-sta...
1589,Tilburg University,734,195,61.3,59.0,75.8,52.1,50.1,38.4,48,52,7738,13,22.5,world-university-rankings/tilburg-university
1590,Paris-Sorbonne University – Paris 4,924,196,77.1,32.1,57.9,52.0,34.3,44.6,68,32,22042,15,30.2,world-university-rankings/paris-sorbonne-unive...
1591,"Royal Holloway, University of London",571,197,85.0,35.0,93.0,51.9,27.9,33.9,59,41,8931,40,15.4,world-university-rankings/royal-holloway-unive...
1592,Aalto University,767,190,79.5,52.5,72.5,52.7,35.8,37.8,34,66,12744,20,20.2,world-university-rankings/aalto-university
1593,University of Massachusetts,528,191,88.8,51.0,54.8,52.6,32.2,36.3,49,51,59230,14,13.3,world-university-rankings/university-massachus...
1594,University of Auckland,637,192,73.8,67.3,90.6,52.5,40.7,32.5,54,46,30348,29,18.8,world-university-rankings/university-auckland
1595,Northeastern University,681,193,91.7,35.4,70.1,52.4,26.8,35.6,49,51,18780,32,14.0,world-university-rankings/northeastern-university
1596,Lomonosov Moscow State University,753,194,15.8,89.0,61.1,52.3,61.6,74.2,48,52,29236,22,7.3,world-university-rankings/lomonosov-moscow-sta...
1597,Tilburg University,734,195,61.3,59.0,75.8,52.1,50.1,38.4,48,52,7738,13,22.5,world-university-rankings/tilburg-university
1598,Paris-Sorbonne University – Paris 4,924,196,77.1,32.1,57.9,52.0,34.3,44.6,68,32,22042,15,30.2,world-university-rankings/paris-sorbonne-unive...
1599,"Royal Holloway, University of London",571,197,85.0,35.0,93.0,51.9,27.9,33.9,59,41,8931,40,15.4,world-university-rankings/royal-holloway-unive...

In [74]:
# Which are the best universities in term of: (a) ratio between faculty members and students
# The stats_student_staff_ratio values seem to be stored as str so let's fix it
top200.stats_student_staff_ratio = top200.stats_student_staff_ratio.apply(pd.to_numeric)
# Sort based on the ratio (lower better) and display top 10
top200.sort_values('stats_student_staff_ratio',ascending=True)[:10][['name','stats_student_staff_ratio']]

                                 name  stats_student_staff_ratio
105             Vanderbilt University                        3.3
109          University of Copenhagen                        4.1
12           Johns Hopkins University                        4.3
11                    Yale University                        4.3
153           University of Rochester                        4.3
97                   Emory University                        4.4
16                    Duke University                        4.5
114               École Polytechnique                        5.1
183  Scuola Normale Superiore di Pisa                        5.2
101          University of Pittsburgh                        5.9

In [79]:
# Which are the best universities in term of: (b) ratio of international students
# The stats_pc_intl_students is stored as percentage, let's make it ratio
def p2f(x):
    return float(x.strip('%'))/100

top200.stats_pc_intl_students = top200.stats_pc_intl_students.apply(p2f)
# Sort based on the ratio (higher better) and display top 10
top200.sort_values('stats_pc_intl_students',ascending=False)[:10][['name','stats_pc_intl_students']]

                                                 name  stats_pc_intl_students
24   London School of Economics and Political Science                    0.71
178                          University of Luxembourg                    0.57
37           École Polytechnique Fédérale de Lausanne                    0.55
7                             Imperial College London                    0.55
102                             Maastricht University                    0.50
15                          University College London                    0.49
143                          University of St Andrews                    0.48
23                         Carnegie Mellon University                    0.45
120                   Queen Mary University of London                    0.45
39                            University of Hong Kong                    0.42

In [66]:
type(top200.stats_student_staff_ratio.min())

str

In [20]:
r2 = requests.get('https://www.timeshighereducation.com/world-university-rankings/2018/world-ranking')

In [49]:
comparisonData = pd.DataFrame()
for index, row in top200.iterrows():
    nid = row['nid']
    comparisonLink = 'https://www.timeshighereducation.com/sites/default/files/university/comparison/'+str(nid)+'.json'
    #rankingsLink = 'https://www.timeshighereducation.com/sites/default/files/university/rankings/'+str(nid)+'.json'
    locationLink = 'https://www.timeshighereducation.com/sites/default/files/institution_markers/gmap_'+str(nid)+'.json'
    rComparison = requests.get(comparisonLink)
    rLocation = requests.get(locationLink)
    if rComparison.ok:
        comparisonJson = json.loads(rComparison.text)
        comparisonDF = pd.DataFrame(comparisonJson)
        comparisonDF = comparisonDF[comparisonDF['nid'] == nid]
        comparisonData = comparisonData.append(comparisonDF, ignore_index=True)

In [50]:
comparisonData

,name,nid,rank,scores_citations,scores_industry_income,scores_international_outlook,scores_overall,scores_research,scores_teaching,stats_female_ratio,stats_male_ratio,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio,url
0,University of Oxford,468,1,99.1,63.7,95.0,94.3,99.5,86.7,46.0,54.0,20409,38,11.2,world-university-rankings/university-oxford
1,California Institute of Technology,128779,=3,99.5,92.6,59.7,93.0,97.5,90.3,31.0,69.0,2209,27,6.5,world-university-rankings/california-institute...
2,Harvard University,466,6,99.7,46.4,79.7,91.8,98.4,84.2,NaN,NaN,20326,26,8.9,world-university-rankings/harvard-university
3,Imperial College London,472,8,96.7,71.6,96.6,89.2,88.7,81.7,37.0,63.0,15857,55,11.4,world-university-rankings/imperial-college-london
4,University of Chicago,473,9,99.4,39.8,69.6,88.6,90.1,85.3,44.0,56.0,13525,25,6.2,world-university-rankings/university-chicago
5,ETH Zurich – Swiss Federal Institute of Techno...,479,=10,94.3,60.3,98.1,87.7,92.0,76.4,31.0,69.0,19233,38,14.6,world-university-rankings/eth-zurich-swiss-fed...
6,University of Pennsylvania,480,=10,98.5,56.9,61.3,87.7,90.1,83.7,50.0,50.0,20361,20,6.5,world-university-rankings/university-pennsylvania
7,Yale University,475,12,98.4,45.1,64.6,87.6,87.0,86.7,49.0,51.0,12155,21,4.3,world-university-rankings/yale-university
8,Johns Hopkins University,478,13,98.4,95.8,70.6,86.5,88.1,76.1,52.0,48.0,15498,24,4.3,world-university-rankings/johns-hopkins-univer...
9,"University of California, Los Angeles",477,15,97.9,48.6,59.5,85.7,88.1,80.7,53.0,47.0,39279,17,9.6,world-university-rankings/university-californi...
10,University College London,481,16,94.6,41.2,94.6,85.3,88.2,74.4,56.0,44.0,30304,49,10.5,world-university-rankings/university-college-l...
11,Duke University,487,17,98.3,100.0,62.5,85.1,80.6,80.7,49.0,51.0,15256,22,4.5,world-university-rankings/duke-university
12,Cornell University,484,19,97.6,34.6,69.2,84.2,86.6,76.2,49.0,51.0,21850,24,9.8,world-university-rankings/cornell-university
13,Northwestern University,490,20,96.9,78.2,59.2,83.3,86.7,72.6,48.0,52.0,17466,18,12.8,world-university-rankings/northwestern-university
14,University of Toronto,483,=22,92.6,46.5,80.1,82.8,84.8,74.6,NaN,NaN,69427,17,18.7,world-university-rankings/university-toronto
15,London School of Economics and Political Science,511,=25,94.9,33.7,92.2,79.4,72.0,71.8,52.0,48.0,10065,71,12.2,world-university-rankings/london-school-econom...
16,University of Washington,489,=25,99.0,47.3,56.5,79.4,79.9,67.9,52.0,48.0,44945,16,11.4,world-university-rankings/university-washington
17,University of Edinburgh,500,=27,97.0,36.3,92.0,79.2,74.2,66.8,59.0,41.0,26759,40,12.5,world-university-rankings/university-edinburgh
18,Peking University,514,=27,74.2,100.0,53.0,79.2,85.1,83.0,47.0,53.0,42136,16,8.9,world-university-rankings/peking-university
19,"University of California, San Diego",497,31,98.6,96.5,51.9,78.7,79.8,62.9,46.0,54.0,29633,17,12.8,world-university-rankings/university-californi...
20,Georgia Institute of Technology,488,33,94.3,60.2,75.0,77.0,78.9,59.7,31.0,69.0,20773,27,20.7,world-university-rankings/georgia-institute-te...
21,University of British Columbia,486,=34,93.4,42.6,92.2,76.2,72.2,61.8,54.0,46.0,51889,29,18.1,world-university-rankings/university-british-c...
22,King’s College London,520,36,94.4,43.9,94.5,75.6,71.2,59.3,62.0,38.0,23207,41,12.0,world-university-rankings/kings-college-london
23,University of Illinois at Urbana-Champaign,495,37,88.9,56.0,52.8,75.4,78.9,65.8,46.0,54.0,43402,23,22.8,world-university-rankings/university-illinois-...
24,École Polytechnique Fédérale de Lausanne,510,=38,94.2,76.0,98.7,75.3,66.8,58.8,28.0,72.0,9928,55,11.2,world-university-rankings/ecole-polytechnique-...
25,Technical University of Munich,552,41,88.4,100.0,66.8,73.5,71.2,60.3,34.0,66.0,38689,23,54.4,world-university-rankings/technical-university...
26,McGill University,492,42,84.7,39.8,87.5,73.2,70.8,63.4,57.0,43.0,30940,26,13.3,world-university-rankings/mcgill-university
27,University of Wisconsin-Madison,491,43,86.5,45.8,43.4,73.1,73.9,68.4,51.0,49.0,38960,12,10.7,world-university-rankings/university-wisconsin...
28,University of Tokyo,494,46,63.7,52.7,32.2,72.2,85.2,79.5,NaN,NaN,26000,10,6.7,world-university-rankings/university-tokyo
29,"University of California, Davis",503,=54,86.0,53.4,63.7,69.5,64.5,60.9,56.0,44.0,37365,10,13.8,world-university-rankings/university-californi...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,University of Bonn,868,=100,91.3,83.5,58.4,60.5,41.6,47.3,55.0,45.0,35619,13,77.9,world-university-rankings/university-bonn
44,University of Montreal,569,108,79.0,65.3,83.2,59.6,48.9,44.5,55.0,45.0,41017,22,21.9,world-university-rankings/university-montreal
45,Aarhus University,589,=109,82.7,67.6,75.3,59.4,53.6,37.3,54.0,46.0,25167,12,14.3,world-university-rankings/aarhus-university
46,University of Copenhagen,599,=109,90.6,44.6,79.3,59.4,39.7,44.0,58.0,42.0,30395,14,4.1,world-university-rankings/university-copenhagen
47,Trinity College Dublin,582,=117,79.0,41.2,92.1,58.7,44.8,45.3,58.0,42.0,16157,27,22.8,world-university-rankings/trinity-college-dublin
48,University of Alberta,564,=119,70.5,63.4,84.8,58.6,51.2,47.2,55.0,45.0,32435,26,21.6,world-university-rankings/university-alberta
49,Queen Mary University of London,131678,121,96.7,39.1,95.5,58.5,38.2,32.8,54.0,46.0,15405,45,13.3,world-university-rankings/queen-mary-universit...
50,Arizona State University,591,=126,87.1,35.7,55.2,58.1,48.3,41.5,43.0,57.0,44475,19,20.1,world-university-rankings/arizona-state-univer...
51,University of Southampton,593,=126,86.0,38.5,92.0,58.1,43.7,37.9,53.0,47.0,21670,33,12.5,world-university-rankings/university-southampton
52,University of Geneva,594,=130,82.9,68.7,98.2,57.8,43.6,35.8,61.0,39.0,16085,40,15.1,world-university-rankings/university-geneva
53,University of York,586,=137,81.6,34.1,85.3,57.3,44.9,40.5,55.0,45.0,14962,27,15.1,world-university-rankings/university-york
54,Pompeu Fabra University,650,140,97.1,40.0,62.3,56.9,38.9,34.7,59.0,41.0,11172,12,20.8,world-university-rankings/pompeu-fabra-university
55,University of Florida,590,=143,68.4,80.7,37.9,56.6,51.2,52.8,54.0,46.0,46346,9,17.5,world-university-rankings/university-florida
56,University of St Andrews,549,=143,76.6,33.6,95.5,56.6,42.5,42.9,58.0,42.0,9005,48,13.0,world-university-rankings/university-st-andrews
57,University of Oslo,647,146,86.8,41.9,73.4,56.3,42.8,36.0,60.0,40.0,27730,19,18.6,world-university-rankings/university-oslo
58,Autonomous University of Barcelona,666,=147,89.5,42.1,60.1,56.2,36.1,43.3,59.0,41.0,32309,16,12.9,world-university-rankings/autonomous-universit...
59,University of Sussex,563,=147,89.5,33.3,91.5,56.2,38.1,34.1,55.0,45.0,12384,38,15.4,world-university-rankings/university-sussex
60,Lancaster University,595,=150,83.2,33.7,91.1,55.9,40.5,37.0,51.0,49.0,11637,38,13.1,world-university-rankings/lancaster-university
61,Scuola Superiore Sant’Anna,131267,=155,88.0,87.8,48.3,55.5,36.0,41.6,37.0,63.0,690,14,11.7,world-university-rankings/scuola-superiore-san...
62,Case Western Reserve University,557,158,90.1,36.7,46.1,55.2,34.9,44.4,49.0,51.0,10130,19,7.1,world-university-rankings/case-western-reserve...
63,University of Leicester,662,=159,91.4,35.2,89.9,55.0,34.5,32.2,54.0,46.0,14635,38,14.1,world-university-rankings/university-leicester
64,Cardiff University,671,=162,84.5,35.5,80.6,54.8,39.3,35.8,58.0,42.0,24186,26,13.5,world-university-rankings/cardiff-university
65,University of Erlangen-Nuremberg,870,=162,77.6,95.9,53.0,54.8,44.0,39.8,49.0,51.0,38730,12,58.5,world-university-rankings/university-erlangen-...
66,University of Vienna,603,=165,66.0,33.2,93.4,54.7,47.6,42.6,66.0,34.0,35375,26,20.8,world-university-rankings/university-vienna
67,Nanjing University,727,=169,64.9,77.8,54.4,54.5,47.0,49.6,50.0,50.0,33456,10,14.2,world-university-rankings/nanjing-university
68,"Rutgers, the State University of New Jersey",546,172,79.7,36.9,39.2,54.3,45.3,43.0,52.0,48.0,43439,10,11.1,world-university-rankings/rutgers-state-univer...
69,Scuola Normale Superiore di Pisa,1019,184,75.4,37.7,49.4,53.4,33.3,53.7,30.0,70.0,515,7,5.2,world-university-rankings/scuola-normale-super...
70,University of Miami,636,186,90.3,37.2,67.1,53.1,24.4,42.5,51.0,49.0,15860,16,5.9,world-university-rankings/university-miami
71,University of East Anglia,609,=188,90.5,32.2,85.6,52.8,31.6,29.9,60.0,40.0,13521,30,13.6,world-university-rankings/university-east-anglia
72,Northeastern University,681,193,91.7,35.4,70.1,52.4,26.8,35.6,49.0,51.0,18780,32,14.0,world-university-rankings/northeastern-university

In [55]:
top200.columns.difference(comparisonData.columns)

Index(['aliases', 'location', 'member_level', 'rank_order', 'record_type',
       'scores_citations_rank', 'scores_industry_income_rank',
       'scores_international_outlook_rank', 'scores_overall_rank',
       'scores_research_rank', 'scores_teaching_rank',
       'stats_female_male_ratio', 'subjects_offered'],
      dtype='object')

In [46]:
print(comparisonLink)
print('https://www.timeshighereducation.com/sites/default/files/university/comparison/470.json')

https://www.timeshighereducation.com/sites/default/files/university/comparison/470.json
https://www.timeshighereducation.com/sites/default/files/university/comparison/470.json

In [47]:
rComparison.ok

False

In [80]:
nid = 468
comparisonLink = 'https://www.timeshighereducation.com/sites/default/files/university/comparison/'+str(nid)+'.json'
#rankingsLink = 'https://www.timeshighereducation.com/sites/default/files/university/rankings/'+str(nid)+'.json'
locationLink = 'https://www.timeshighereducation.com/sites/default/files/institution_markers/gmap_'+str(nid)+'.json'
rLocation = requests.get(locationLink)

In [83]:
locationJson = json.loads(rLocation.text)
comp = pd.DataFrame(locationJson)
comp

,country,lat,lng,locality,path,postal_code,thoroughfare,title
0,United Kingdom,51.757701873800,-1.263959050200,Oxford,node/468,OX1 2JD,University Offices,University of Oxford

In [28]:
pd.merge(top200,comp,on='name')

,aliases,location,member_level,name,nid_x,rank_x,rank_order,record_type,scores_citations_x,scores_citations_rank,scores_industry_income_x,scores_industry_income_rank,scores_international_outlook_x,scores_international_outlook_rank,scores_overall_x,scores_overall_rank,scores_research_x,scores_research_rank,scores_teaching_x,scores_teaching_rank,stats_female_male_ratio,stats_number_students_x,stats_pc_intl_students_x,stats_student_staff_ratio_x,subjects_offered,url_x,nid_y,rank_y,scores_citations_y,scores_industry_income_y,scores_international_outlook_y,scores_overall_y,scores_research_y,scores_teaching_y,stats_female_ratio,stats_male_ratio,stats_number_students_y,stats_pc_intl_students_y,stats_student_staff_ratio_y,url_y
0,University of Oxford,United Kingdom,0,University of Oxford,468,1,10,master_account,99.1,15,63.7,169,95.0,24,94.3,10,99.5,1,86.7,5,46 : 54,"20,409",38%,11.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-oxford,468,1,99.1,63.7,95.0,94.3,99.5,86.7,46.0,54.0,20409,38,11.2,world-university-rankings/university-oxford
1,University of Cambridge,United Kingdom,0,University of Cambridge,470,2,20,master_account,97.5,29,51.5,260,93.0,35,93.2,20,97.8,3,87.8,3,45 : 55,"18,389",35%,10.9,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/university-cambridge,470,2,97.5,51.5,93.0,93.2,97.8,87.8,45.0,55.0,18389,35,10.9,world-university-rankings/university-cambridge
2,California Institute of Technology caltech,United States,0,California Institute of Technology,128779,=3,30,private,99.5,10,92.6,51,59.7,322,93.0,30,97.5,4,90.3,1,31 : 69,"2,209",27%,6.5,"Architecture,Biological Sciences,Business & Ma...",/world-university-rankings/california-institut...,128779,=3,99.5,92.6,59.7,93.0,97.5,90.3,31.0,69.0,2209,27,6.5,world-university-rankings/california-institute...
3,Stanford University,United States,11,Stanford University,467,=3,40,private,99.9,4,60.5,189,77.6,162,93.0,40,96.7,5,89.1,2,42 : 58,"15,845",22%,7.5,"Archaeology,Architecture,Art, Performing Arts ...",/world-university-rankings/stanford-university,467,=3,99.9,60.5,77.6,93.0,96.7,89.1,42.0,58.0,15845,22,7.5,world-university-rankings/stanford-university
4,Massachusetts Institute of Technology,United States,0,Massachusetts Institute of Technology,471,5,50,private,100.0,1,88.4,63,87.6,81,92.5,50,91.9,9,87.3,4,37 : 63,"11,177",34%,8.7,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/massachusetts-insti...,471,5,100.0,88.4,87.6,92.5,91.9,87.3,37.0,63.0,11177,34,8.7,world-university-rankings/massachusetts-instit...
5,Harvard University,United States,0,Harvard University,466,6,60,private,99.7,8,46.4,330,79.7,143,91.8,60,98.4,2,84.2,9,None,"20,326",26%,8.9,"Agriculture & Forestry,Archaeology,Art, Perfor...",/world-university-rankings/harvard-university,466,6,99.7,46.4,79.7,91.8,98.4,84.2,NaN,NaN,20326,26,8.9,world-university-rankings/harvard-university
6,Princeton University,United States,0,Princeton University,469,7,70,private,99.6,9,58.0,204,78.7,152,91.1,70,93.9,6,85.7,7,45 : 55,"7,955",24%,8.3,"Architecture,Art, Performing Arts & Design,Bio...",/world-university-rankings/princeton-university,469,7,99.6,58.0,78.7,91.1,93.9,85.7,45.0,55.0,7955,24,8.3,world-university-rankings/princeton-university
7,Imperial College London,United Kingdom,0,Imperial College London,472,8,80,master_account,96.7,40,71.6,120,96.6,13,89.2,80,88.7,12,81.7,13,37 : 63,"15,857",55%,11.4,"Biological Sciences,Chemical Engineering,Chemi...",/world-university-rankings/imperial-college-lo...,472,8,96.7,71.6,96.6,89.2,88.7,81.7,37.0,63.0,15857,55,11.4,world-university-rankings/imperial-college-london
8,University of Chicago,United States,0,University of Chicago,473,9,90,private,99.4,12,39.8,487,69.6,231,88.6,90,90.1,10,85.3,8,44 : 56,"13,525",25%,6.2,"Archaeology,Art, Performing Arts & Design,Biol...",/world-university-rankings/university-chicago,473,9,99.4,39.8,69.6,88.6,90.1,85.3,44.0,56.0,13525,25,6.2,world-university-rankings/university-chicago